In [1]:
"""Q1. List any five functions of the pandas library with execution."""
#qnwswer
"""pandas.read_csv: This function is used to read a CSV file into a Pandas DataFrame. Here's an example:"""
import pandas as pd
df = pd.read_csv('players_data.csv')
print(df.head())
"""
pandas.DataFrame: This function is used to create a new DataFrame. Here's an example:"""
import pandas as pd
data = {'Name': ['John', 'Jane', 'Alice'], 'Age': [25, 30, 35], 'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df.head())
"""pandas.Series: This function is used to create a new Series. Here's an example:"""
import pandas as pd
data = [25, 30, 35]
s = pd.Series(data)
print(s)
"""
pandas.concat: This function is used to concatenate two or more DataFrames. Here's an example:
"""

import pandas as pd
df1 = pd.DataFrame({'Name': ['John', 'Jane'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice'], 'Age': [35]})
df = pd.concat([df1, df2])
print(df)
"""
pandas.DataFrame.groupby: This function is used to group a DataFrame by one or more columns. Here's an example:
"""

import pandas as pd
data = {'Name': ['John', 'Jane', 'Alice', 'Bob'], 'City': ['New York', 'London', 'Paris', 'Paris'], 'Salary': [50000, 60000, 55000, 65000]}
df = pd.DataFrame(data)
grouped = df.groupby('City')
print(grouped.mean())

  Rk         Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  DRB  \
0  1     Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79  222
1  2   Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9   19
2  3   Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199  324
3  4    Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23   54
4  5  Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27  220

   TRB  AST STL BLK  TOV   PF   PTS
0  301   68  27  22   60  147   398
1   28   16  16   7   14   24    94
2  523   66  38  86   99  222   537
3   77   15   4   9    9   30    60
4  247  129  41   7  116  167  1035

[5 rows x 30 columns]
    Name  Age      City
0   John   25  New York
1   Jane   30    London
2  Alice   35     Paris
0    25
1    30
2    35
dtype: int64
    Name  Age
0   John   25
1   Jane   30
0  Alice   35
           Salary
City
London    60000.0
New York  50000.0
Paris     60000.0

/tmp/ipykernel_77/48375497.py:35: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grouped.mean())

In [3]:
"""Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row."""
import pandas as pd

def reindex_df(df):
    new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)
    df = df.reset_index(drop=True)
    df.index = new_index
    return df
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
new_df = reindex_df(df)
print(new_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [23]:
"""Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60."""
df=pd.DataFrame({'values':[10,20,30,40,50]})

def sum1(df):
    return sum(df['values'][0:3])

In [24]:
sum1(df)

60

In [67]:
"""Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column."""
def count1(df):
    df['Word_Count']=df['Text'].str.split().apply(len)
    return df
df=pd.DataFrame({'Text':["hello","welcome","how are you"]})
count1(df)

          Text  Word_Count
0        hello           1
1      welcome           1
2  how are you           3

In [68]:
"""Q5. How are DataFrame.size() and DataFrame.shape() different?"""
#answer
"""Both DataFrame.size and DataFrame.shape are methods of Pandas DataFrame that return information about the size and shape of the DataFrame. However, 
they are different in what they return:

DataFrame.size: This method returns the total number of elements in the DataFrame. It is equivalent to the number of rows multiplied by the number of 
columns. For example, if a DataFrame has 5 rows and 3 columns, df.size will return 15.

DataFrame.shape: This method returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the
number of columns, in that order. For example, if a DataFrame has 5 rows and 3 columns, df.shape will return (5, 3).

In summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns a tuple representing the dimensions 
of the DataFrame (i.e., the number of rows and columns)."""

'Both DataFrame.size and DataFrame.shape are methods of Pandas DataFrame that return information about the size and shape of the DataFrame. However, \nthey are different in what they return:\n\nDataFrame.size: This method returns the total number of elements in the DataFrame. It is equivalent to the number of rows multiplied by the number of \ncolumns. For example, if a DataFrame has 5 rows and 3 columns, df.size will return 15.\n\nDataFrame.shape: This method returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the\nnumber of columns, in that order. For example, if a DataFrame has 5 rows and 3 columns, df.shape will return (5, 3).\n\nIn summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns a tuple representing the dimensions \nof the DataFrame (i.e., the number of rows and columns).'

In [69]:
"""Q6. Which function of pandas do we use to read an excel file?"""
#Answer
"""To read an Excel file in Pandas, we use the read_excel function.
This function is part of the Pandas IO tools and can read Excel files in various formats, including .xls and .xlsx."""
"""import pandas as pd

# Read an Excel file named 'example.xlsx' into a DataFrame
df = pd.read_excel('example.xlsx')"""

"import pandas as pd\n\n# Read an Excel file named 'example.xlsx' into a DataFrame\ndf = pd.read_excel('example.xlsx')"

In [17]:
"""Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column."""
def username(df):
    df['Username'] = df['email'].apply(lambda x: x.split('@')[0])
    return df

In [18]:
import pandas as pd
df=pd.DataFrame({'email':["maohankholiya@gmail.com","kamal@gmail.com"]})

In [19]:
username(df)

                     email       Username
0  maohankholiya@gmail.com  maohankholiya
1          kamal@gmail.com          kamal

In [28]:
"""Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows."""
df=pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})
df[(df['A']>5)&(df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [41]:
"""Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column."""
#answer
def calculate(df):
    return df.describe()
df=pd.DataFrame({"Values":[101,100,200,500,123,456,789]})
calculate(df)

           Values
count    7.000000
mean   324.142857
std    264.671764
min    100.000000
25%    112.000000
50%    200.000000
75%    478.000000
max    789.000000

In [77]:
"""Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day."""
import pandas as pd
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
data = {'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10'],
        'Sales': [10, 12, 15, 14, 18, 20, 25, 22, 23, 27]}
df = pd.DataFrame(data)
df = calculate_moving_average(df)
df

         Date  Sales  MovingAverage
0  2022-01-01     10      10.000000
1  2022-01-02     12      11.000000
2  2022-01-03     15      12.333333
3  2022-01-04     14      12.750000
4  2022-01-05     18      13.800000
5  2022-01-06     20      14.833333
6  2022-01-07     25      16.285714
7  2022-01-08     22      18.000000
8  2022-01-09     23      19.571429
9  2022-01-10     27      21.285714

In [58]:
"""Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame."""
def da(df):
    df['Weekday']=pd.to_datetime(df['Date']).dt.day_name()
    return df
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
da(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [69]:
"""Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'."""

def dat(df):
    ans=df[(df['Date'] >'2023-01-01')&(df['Date'] <'2023-01-31')]
    return ans
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05','2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15']})
dat(df)

         Date
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
6  2023-01-15

In [70]:
"""Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?"""
"""The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. """
import pandas as pd
"""This will import the pandas library and make it available under the alias pd, which is the most commonly used alias for pandas in the Python data science community. Once pandas is 
imported, you can create andmanipulate pandas objects such as Series and DataFrame, perform data analysis and manipulation, and much more using the many functions and methods 
provided by the pandas library."""