In [1]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""

'Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'

In [8]:
import pandas as pd

d = [4, 8, 15, 16, 23, 42]

series = pd.Series(d)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it."""
#answer
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_series = pd.Series(my_list)

print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [1]:
"""Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire
Age
25
30
27
Gender
Female
Male
Female
Then, print the DataFrame."""
import pandas as pd
data={"name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","female"]}
df=pd.DataFrame(data)
df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  female

In [2]:
"""DataFrame is a 2-dimensional labeled data structure in Pandas which is used to represent data in a tabular format consisting of rows
and columns, similar to a spreadsheet or a SQL table. It can be thought of as a collection of Pandas Series where each Series represents a
column in the DataFra me."""
import pandas as pd

# Create a dictionary of data
data = {'Name': ['John', 'Jane', 'Bob', 'Mary'],
        'Age': [28, 23, 45, 37],
        'City': ['New York', 'Paris', 'London', 'Sydney']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from a column of the DataFrame
ages = df['Age']

# Display the DataFrame
print(df)

   Name  Age      City
0  John   28  New York
1  Jane   23     Paris
2   Bob   45    London
3  Mary   37    Sydney

In [4]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?"""
#answer
"""Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:
loc and iloc: Used to access specific rows and columns in the DataFrame. 
loc is used to select data by label, whereas iloc is used to select data by integer position"""
"""drop: Used to drop rows or columns from the DataFrame. """
"""groupby: Used to group the DataFrame by one or more columns and apply a function to each group"""
"""merge: Used to combine two DataFrames into a single DataFrame based on a common column."""
"""apply: Used to apply a function to each element or row/column of the DataFrame"""

'apply: Used to apply a function to each element or row/column of the DataFrame'

In [5]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"""
#answer
"""In Pandas, both Series and DataFrame are mutable in nature, which means that their values can be changed after they have been created.
However, Panel is not recommended for use anymore and is considered deprecated as of version 0.25.0. It has been replaced by the more
powerful and flexible MultiIndex objects, which can be used to represent higher-dimensional data in a DataFrame."""

'In Pandas, both Series and DataFrame are mutable in nature, which means that their values can be changed after they have been created.\nHowever, Panel is not recommended for use anymore and is considered deprecated as of version 0.25.0. It has been replaced by the more\npowerful and flexible MultiIndex objects, which can be used to represent higher-dimensional data in a DataFrame.'

In [ ]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example."""
#answer
"""To create a DataFrame using multiple Series,
we can first create each Series individually and then combine them into a single DataFrame. Here's an example:"""

import pandas as pd

# Create a Series of names
names = pd.Series(['John', 'Jane', 'Bob', 'Mary'])

# Create a Series of ages
ages = pd.Series([28, 23, 45, 37])

# Create a Series of cities
cities = pd.Series(['New York', 'Paris', 'London', 'Sydney'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Display the DataFrame
print(df)